.dark-btn {
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  margin-left: 1300px;
}

.dark-btn:focus {
  outline: none;
}

@media only screen and (max-width: 770px) {
  .dark-btn {
    margin: 0px;
  }
}
