.paper {
  background-color: transparent;
}

.frame {
  height: 500px;
  width: 58%;
  /* height: 100%;
  width: 100%; */
  border: 5px solid rgb(180, 180, 180);
  border-radius: 30px;
  /* border-bottom-right-radius: 0px; */
  box-shadow: 5px 5px 10px rgb(153, 153, 153);
  /* box-shadow: -5px -5px 20px #fff, 5px 5px 20px #c0c0c0; */
  transition: all 2s ease-in-out;
}

/* .frame:hover {
  width: 90%;
  height: 600px;
} */

h2,
h3 {
  color: #7952a0;
  text-shadow: 2px 2px 2px rgb(189, 189, 189);
}

h3 {
  text-transform: uppercase;
}
